
.heading{
  font-style: italic;
  font-weight: 500;
}
.filterCard {
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  padding-top: 5px;
}

.filterCardContainer {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding-top: 0px;
  width: 20%; 
  border-radius: 5px;
  overflow: auto;
  height: 69vh;
}

.filterOptions {
  max-height: 70%; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.filterOptions label {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.filterOptions input[type="checkbox"] {
  margin-right: 5px;
}


@media (max-width: 768px) {
  .filterCardContainer {
    width: 20%; 
  }

  .filterOptions label {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .filterCardContainer {
    width: 30%;
  }

  .filterOptions label {
    font-size: 12px;
  }
}
@media (max-width: 300px) {
  .filterCardContainer {
    width: 40%; 
  }

  .filterOptions label {
    font-size:11px;
  }
}
